.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  background: linear-gradient(rgba(215, 209, 30, 0.371), rgba(52, 146, 97, 0.611), rgba(20, 140, 183, 0.608)) !important;
}

.css-1qvr50w-MuiTypography-root {
  font-weight: 700 !important;
}

.header {
  display: flex;
  align-items: center;
}

.header form {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.container {
  position: relative;
  margin: 2rem 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.main-con {
  position: relative;
  height: 220px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(60deg, rgb(241, 142, 159), rgb(86, 153, 86), rgb(85, 127, 210));
  padding: 1rem;
  font-family: 'Rubik Doodle Shadow', system-ui;

}

.main-con h1 {
  margin-left: 40px;
}

.favorites-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 1rem 2rem;

}

h3 {
  color: white;
  text-transform: uppercase;
}

.title-style {
  color: rgba(105, 115, 115, 0.998);
  text-transform: uppercase;
}

.img-style {
  border-radius: 5px;
}

.card-style {
  width: 350px;
  height: auto;
}

.card-style:hover {
  transition: all .65s ease-in-out;
  transform: translateY(-8px);
  box-shadow: 0px 0px 20px rgb(4, 73, 103) !important;
  cursor: pointer;
}

.mui-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiBox-root {
  width: 80vw;
  max-width: 800px;
  height: 350px;
  padding: 3rem;
  background: linear-gradient(176deg, rgb(255 195 192 / 72%), rgb(19 103 142 / 91%));
  border-radius: 8px;
  overflow-y: scroll;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: rgb(0 0 0 / 83%) !important;
}

#modal-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 40px;
  color: rgb(6, 54, 135);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  align-items: center;
}

#modal-description {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 2rem;
}

.modal-close-btn {
  height: 35px;
}

.modal-close-btn:hover {
  background-color: rgb(203, 50, 50) !important;
}

.fav-btn-color-w {
  color: rgb(133, 18, 18);
}

.fav-btn-color-r{
  color: rgb(180, 15, 15);
}

.fav-img-style {
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.fav-container {
  display: flex;
  height: 150px;
  flex-direction: column;
  gap: .5rem;
  justify-content: flex-start;
  align-items: center;
}

.delete-btn {
  background-color: red !important;
}

.loader {
  position: relative;
  width: 48px;
  height: 48px;
  border: 5px solid #000000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: flex;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width:150px) {
  .header {
    margin: 3rem;
  }

  .header form {
    gap: 2rem;
  }

  .favorites-container {
    width: auto;
    overflow-y: scroll;
    gap: 2rem;
  }

  .container {
    margin: 1rem;
  }

  .MuiBox-root {
    width: 350px;
  }

  #modal-title {
    font-size: 20px;
  }

  #modal-description {
    font-size: 15px;
  }
}

@media screen and (min-width:786px) {
  .header {
    flex-direction: row;
    margin: 5rem;
  }

  .header form {
    gap: 1rem;
  }

  .favorites-container {
    width: auto;
    overflow-y: scroll;
    gap: 2rem;
  }

  .container {
    margin: 3rem;
  }

  .MuiBox-root {
    width: 550px;
  }

  #modal-title {
    font-size: 30px;
  }

  #modal-description {
    font-size: 17px;
  }
}

@media screen and (min-width:1243px) {
  .header {
    margin: 5rem;
  }

  .header form {
    gap: .5rem;
  }

  .MuiBox-root {
    width: inherit;
  }
  #modal-title {
    font-size: 40px;
  }
  #modal-description{
    font-size: 20px;
  }

}